p{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}
html{
}
body{
	background: #fff;
 	color: #555759;
 	border-top: 3px solid #e00109; 
	#container{
		display: block;
		position: relative;
		//width: 960px;
		min-height: 540px;
		//height: 540px !important;
		//overflow: hidden;
		background: url(imgs/background.jpg) no-repeat;
		//margin: 0 auto;
		#sidebar{
			background: url(imgs/background-sidebar.png) no-repeat;
			height: 768px;
			width: 321px;
			float: left;
			#perfil{
				height: 125px !important;
				padding: 33px 10px 0px 15px;
					img{
						width: 62px;
						height: 62px;
						background: #000;
						float: left;
						.roundcorners(50%);
					}
				#info{
					padding: 11px 0 0 70px;
					p{
						font-size:18px;
						font-weight: bold;
						margin: 0px;
						a{
							font-size: 16px;
							font-weight: normal;
							color: #f00;
							text-decoration: none;
						} 
					}
				}
			}
			#menu{				
				clear: both;
				padding:0px 2px;
				background: url(imgs/menu2-lineas.png) 33px 105px no-repeat;
				a{
					opacity: 0.5;
					display: block;

					&.active, &:hover{
						opacity: 1;
					}
					&.menu-item{
						padding: 15px 0 0px 20px;
					}
					&.submenu-item{
						padding: 6px 0 0 42px;

					}
				}
			}
			ul{
				list-style: none;
				width: 92%;
				-webkit-padding-start: 0px;
				padding-start: 0px;
				padding-left: 5px;
				font-size: 14px;
				li{
					padding:7px 0 7px 30px; 
					border-top: solid 1px #e1dedb;
					a{
						text-decoration: none;
						color: #6c6f71;
						&:hover, &.active{
							text-decoration: underline;
						}
					}
				}
			}
			#buscar{
				width: 176px;
				height: 14px;
				margin-top: 10px;
				position: absolute;
				bottom:10px;
				padding: 8px 8px 8px 30px;
				font-size: 15px;
				background: #fff url(imgs/lupa.png) 13px no-repeat;
			}
		}
		#content{
			width: 710px;
			//height: 450px;
			float: left;
			padding-left: 25px;
			padding-top: 115px;
		 
			position: relative;
			&.premio{
				background: url(imgs/header-01.png) center top no-repeat;
			}
			&.inspiracion{
				background: url(imgs/header-02.png) center top no-repeat;
			}
			&.documentacion{
				background: url(imgs/header-04.png) center top no-repeat;
			}
			&.ipad{
				background: url(imgs/header-05.png) center top no-repeat;
				padding-top: 185px;
			}
			&.faq{
				background: url(imgs/header-07.png) center top no-repeat;
				width: 710px;
				height: 415px;
 				padding-top: 125px;
			}
			&.equipo{
				background: url(imgs/header-06.png) 40px top no-repeat;
				text-align: center;
				width: 681px;
				height: 400px;
				padding: 136px 25px 0 25px;
				position: relative;
				a{
					display: block;
					background: #6e84b5;
					border-bottom: 3px solid #6779a7;
					border-right: 5px solid #6779a7;
					color: #fff;
					text-decoration: none;
					padding: 10px;
					margin: 10px auto;
					width: 300px;
					text-align: center;
				}
			}
			&.herramientas{
					background: url(imgs/header-03.png) center top no-repeat;
					padding-top: 125px;
				.grid{
					overflow: hidden;
					//height: 371px;
				}
			}
 			.grid{
 				overflow: hidden;
				//overflow-y: auto;
				//height: 388px;
				.element{
					margin: 14px 24px 10px 0;
					width: 199px;
					height: 280px;
					float: left;
					background: url(imgs/cuadrito.png) no-repeat; 

					h1{
						font-size: 14px;
						margin: 14px 0;
 					}
					p{
						font-size: 12px;
 					}
					.overlay{
						opacity: 0;
					}
					.overlay:hover{
						opacity: 1;
					}
					&.video .overlay{
						background: url(imgs/overlay-video.png);
					}
					&.descargar .overlay{
						background: url(imgs/overlay-descargar.png);
					}
					&.enlace .overlay{
						background: url(imgs/overlay-enlace.png);
					}
					&.imagen .overlay{
						background: url(imgs/overlay-imagen.png);
					}
					.thumb{
						width: 178px;
						height: 178px;
						padding: 7px;
						position: relative;
						overflow: hidden;
						.overlay{
							width: 187px;
							height: 187px;
							overflow: hidden;
							position: absolute;							
						}
						.tipo{
							position: absolute;
							bottom: 4.2px;
							left: 7px;
						}
						.iconos{
							position: absolute;
							bottom: 0px;
							right: 0px;
							background:#fff;
							padding: 2px 3px 0 4px;
						}
					}
				}
			}
			#filtro{
				padding-bottom: 14px;
				p{
					font-size: 21px;
					margin-left: -14px;
					margin-bottom: 5.6px;
					img{
						margin-right: 3.5px;
						margin-bottom: 2px;
					}
				}
				ul{
					background: rgba(150, 150, 150, 0.1);
					font-size: 16px;
					display: inline;
					-webkit-padding-start: 0px;
					padding: 1px 7px;
					li{
						cursor: pointer;
						display: inline;
						padding-right:10px; 
						margin: 3.5px;
						a{text-decoration: none;}
						&.rojo{
							a{color: #f00;}
							&.active{background: url(imgs/check-rojo.png)  right center no-repeat}
						}
						&.azul{
							a{color: #0054ff;}
							&.active{background: url(imgs/check-azul.png)  right center no-repeat}
						}
						&.verde{
							a{color: #16ee00;}
							&.active{background: url(imgs/check-verde.png)  right center no-repeat}
						}
						&.amarillo{
							a{color: #eea800;}
							&.active{background: url(imgs/check-amarillo.png)  right center no-repeat}
						}
					}
				}
			}
			#faq{
				height: 415px;
 				padding: 0 183px 0 63px;
 				h1{
					font-weight: bold;
					font-size: 18px;
					color: #e00109;
				}
				dl{
					dd{
						background: #f8f8f6;
						margin: 0px;
						padding: 10.5px 14px;
						font-size: 12px;
 					}
					dt{
						background: #d0cfce;
						background: #eaeaeb url(imgs/dropdown-rojo.png) 460px 10px no-repeat;
						margin-top: 10.5px;
						padding: 5.6px 10.5px;
						font-size: 15px;
						font-weight: bold;
						cursor: pointer;
					}
				}
				ol{
					margin: 0px;
					padding: 0px;

					width: 485px;

					.question{
						background: #eaeaeb url(imgs/dropdown-rojo.png) 460px 10px no-repeat;margin-top: 15px;
						padding: 5.6px 10.5px 5.6px 28px;
						font-size: 15px;
						font-weight: bold;
						cursor: pointer;
						&.active, &:hover{
							background: #d0cfce  url(imgs/dropdown-rojo.png) 460px 10px no-repeat;margin-top: 15px;;
						}
					}
					.answer{
						background: #f8f8f6;
						padding: 8px 15.5px;
						margin: 0px;
						font-size: 12px;
						a{
							text-decoration: none;
							color: #e00109;
						}
					}
				}
			}
			#ipad{
				width: 560px;
				height: 340px;
				position:absolute;
				top: 184px;
				left: 65px;
				&.pregunta{
					background: url(imgs/ipad-pregunta.png) 40px no-repeat;
				}
				&.enviado{
					background: url(imgs/ipad-enviado.png) no-repeat;
				}
				form{
					position: absolute;
					top:101px;
					left:10.5px;
 					width: 346px;
					height: 175px;
					overflow: hidden;

					#texto{
						background: url(imgs/cuadrito-form.png) no-repeat;
						padding: 5.6px;
						height: 126px;

					}
					textarea{
						background: #ebf2f1;
						border: none;
						width: 315px;
						height: 106px;
						padding: 7px;
					}
					.enviarBtn{
						background: url(imgs/ipad-enviar-btn.png) no-repeat;
						width:93px;
						height: 33px;
						border: 0px;
						position: absolute;
						top: 140px;
						left: 210px;

					}
				}
			}
		}
		#over{
			position: absolute;
			top: 0px;
			right: 14px;
		}
		#like{
			height: 540px;
			width: 960px;
			margin: 0 auto;
			position: relative;
			background: url(imgs/like.png) no-repeat;
			a{
				position: absolute;
				top: 366px;
				left: 300px;
			}
		}
	}
	#legal{
		font-size: 10px;
		clear: both;
		text-align: right;
		padding-right: 20px;
		a{
			color: #f00;
			text-decoration: none;
		}
	}
}

.roundcorners (@radio){
  border-radius: @radio;
  -moz-border-radius: @radio;
  -webkit-border-radius: @radio;
}